<img src="../logo/logo_ev2017.png">

# Table of Contents
* [1. Pandas](#1.-Pandas)
	* [1.1 DataFrames](#1.1-DataFrames)
		* [1.1.1 Crear un DataFrame](#1.1.1-Crear-un-DataFrame)
	* [1.2 Cargar Datasets mediante Pandas](#1.2-Cargar-Datasets-mediante-Pandas)
	* [1.4 Exportando DataFrames](#1.4-Exportando-DataFrames)
	* [1.5 Operaciones del álgebra relacional. Función Merge](#1.5-Operaciones-del-álgebra-relacional.-Función-Merge)
	* [1.6 Acceso a los datos (filas y columnas)](#1.6-Acceso-a-los-datos-%28filas-y-columnas%29)
	* [1.7 Actualización de datos de un DataFrame](#1.7-Actualización-de-datos-de-un-DataFrame)
		* [1.7.1 Modificando valores del DataFrame](#1.7.1-Modificando-valores-del-DataFrame)
		* [1.7.2 Borrando columnas en un DataFrame (__pop__ y __drop__)](#1.7.2-Borrando-columnas-en-un-DataFrame-%28__pop__-y-__drop__%29)
		* [1.7.3 Insertar datos en un DataFrame](#1.7.3-Insertar-datos-en-un-DataFrame)
	* [1.8 Tratamiento de valores nulos](#1.8-Tratamiento-de-valores-nulos)
	* [1.9 Consultas](#1.9-Consultas)
	* [1.10 Grupos y funciones de agrupación](#1.10-Grupos-y-funciones-de-agrupación)
	* [1.11 Primeros estadísticos](#1.11-Primeros-estadísticos)
		* [1.11.1 Matriz de correlación](#1.11.1-Matriz-de-correlación)
* [2. Maching Learning](#2.-Maching-Learning)
	* [2.2 Predicción con Arboles de decisión](#2.2-Predicción-con-Arboles-de-decisión)
	* [2.3 Predicción con Random Forest](#2.3-Predicción-con-Random-Forest)

#  Pandas

La librería __pandas__ de Python proporciona estructuras de datos de alto nivel y herramientas diseñadas específicamente para conseguir un análisis de los datos rápido y sencillo.

* Pandas está construida sobre la librería __NumPy__

__Aspectos más importantes__:
    
* Ofrece una estructurade datos bidimensional : DataFrame
* Filas y  columnas indexadas (Selección de filas y columas a través de su nombre)
* Selección mediante máscaras
* Permite el tratamiento de datos perdidos (missing data)
* Operaciones elemento a elemento (sin iteración al igual que en NumPy)
* Soporta Grupos y operaciones de agrupación
* Amplia gama de operaciones estadísticas (mean, std, corr, etc.)
* Operaciones aritméticas y operaciones del álgebra relacional (Merging, joining, data set concatenation)

In [1]:
import numpy as np
import pandas as pd     # importamos el módulo pandas

##  DataFrames

La estructura __DataFrame__ está diseñada para manejar datos representados en forma de tabla. Esta será la estructura de datos más habitual.
* Las filas están indexadas.
    * Podemos verlo como filas con nombre. Por defecto, si no decimos otra cosa, dicho nombre será un número entero
* Las columnas están etiquetadas.
    * La etiqueta se corresponde con el nombre de la columna.

Un __DataFrame__ puede verse como una tabla de SQL o una hoja de cálculo.

###  Crear un DataFrame

Hay varias formas de crear un __DataFrame__. Podemos crearlo indicando los datos que contiene y el nombre de las columnas.

In [7]:
# crear un array de tuplas
clientes = ['Rafa','Rafa','Antonio','Pedro','Elena']
importes = [968, 155, 77, 578, 100]

lista_datos = list(zip(clientes, importes))
lista_datos

[('Rafa', 968), ('Rafa', 155), ('Antonio', 77), ('Pedro', 578), ('Elena', 100)]

In [3]:
zip?

In [8]:
# crear un DataFrame
tabla = pd.DataFrame( data    = lista_datos,            # lista de tuplas
                      columns = ['nombres_clientes', 'importe_factura'])  
tabla

  nombres_clientes  importe_factura
0             Rafa              968
1             Rafa              155
2          Antonio               77
3            Pedro              578
4            Elena              100

La función __describe__ permite hacer un análisis de los datos de cada una de las columnas de la tabla mostrando varias medidas estadísticas. Los datos que muestra son mínimo valor, máximo, media, percentiles, etc. de las columnas numéricas (variables cuantitativas). En caso de las columnas de otro tipo (string, tipo fecha) muestra otro tipo de valores (cantidad de valores, cantidad de valores distintos, etc).

Como podemos ver, el intérprete de Python indexa las filas con un número entero comenzando por el cero (0,1, ...).

In [9]:
# analisis de los datos de las columnas
tabla.describe()    # por defecto, medidas para variables cuantitativas

       importe_factura
count         5.000000
mean        375.600000
std         389.128899
min          77.000000
25%         100.000000
50%         155.000000
75%         578.000000
max         968.000000

In [11]:
tabla.shape

(5, 2)

También es posible crear un __DataFrame__ a partir de un diccionario. 
* Las claves del diccionario serán los nombres de las columnas 
* Los valores del diccionario constituirán las filas

In [12]:
datos = {"clientes" : ['Rafa','Rafa','Antonio','Pedro','Elena'], 
         "importes" : [968, 155, 77, 578, 100]
         }
mi_tabla = pd.DataFrame(datos, index = [1971, 1971, 1985, 1985, 1987])
mi_tabla.head()

     clientes  importes
1971     Rafa       968
1971     Rafa       155
1985  Antonio        77
1985    Pedro       578
1987    Elena       100

* Podemos crear un DataFrame indexando las filas con un tipo de dato que no sea por defecto (int).
* Podemos crear un DataFrame cambiando la posición de las columnas, incluso con menos columnas.

En el caso de DataFrames, los principales atributos son los siguientes:

* __columns__ : devuelve las etiquetas de las columnas del DataFrame
* __index__ : devuelve los índices de las filas del DataFrame
* __values__ : devuelve los datos del DataFrame.

In [16]:
mi_tabla.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5 entries, 1971 to 1987
Data columns (total 2 columns):
clientes    5 non-null object
importes    5 non-null int64
dtypes: int64(1), object(1)
memory usage: 120.0+ bytes

In [18]:
mi_tabla.loc[1971]['clientes']

1971    Rafa
1971    Rafa
Name: clientes, dtype: object

In [6]:
mi_tabla.columns

Index(['clientes', 'importes'], dtype='object')

In [14]:
mi_tabla.index

Int64Index([1971, 1971, 1985, 1985, 1987], dtype='int64')

Los datos del DateFrame se pueden obtener usando el atributo __values__. El resultado será un array de NumPy:

In [15]:
mi_tabla.values

array([['Rafa', 968],
       ['Rafa', 155],
       ['Antonio', 77],
       ['Pedro', 578],
       ['Elena', 100]], dtype=object)

In [9]:
type(mi_tabla.values)

numpy.ndarray

##  Cargar Datasets mediante Pandas

Pandas es capaz de leer datos de ficheros en formatos:
     * csv, 
     * txt,
     * excel, 
     * json, 
     * html,
     * xml, 
     * ...

Las funciones  más utilizadas en pandas para leer datos en formato texto son __read_csv__ y __read_table__. Estas funciones ofrecen una gran flexibilidad a la hora de leer un fichero de texto plano.

__Ejemplo 1__

El dataset [HR_comma.csv  (612 KB)](./datos/HR_comma.csv) contiene ciertos registros relacionados con los empleados de una empresa de los últimos 5 años.

In [20]:
tabla = pd.read_csv('./datos/HR_comma.csv')
tabla.head(6)    # muestro solo las 6 primeras entradas

,nivel_de_satisfaccion,ultima_encuesta,numero_de_proyectos,media_horas_mes,horas_en_la_empresa,accidente_de_trabajo,deja_la_empresa,promociona,dep,salario
0,0.38,0.53,2.0,157,3,0,1.0,0,sales,low
1,0.80,0.86,5.0,262,6,0,1.0,0,sales,medium
2,0.11,0.88,7.0,272,4,0,1.0,0,NaN,medium
3,0.72,0.87,5.0,223,5,0,1.0,0,sales,low
4,0.37,0.52,NaN,159,3,0,1.0,0,sales,low
5,0.41,0.50,2.0,153,3,0,1.0,0,sales,low

In [21]:
pd.read_excel?

Podemos preguntar por la forma que tiene el DataFrame:

In [22]:
tabla.shape       # informa del número de filas y columnas

(14999, 10)

La función __info__ nos proporciona más información. Nombre de las variables, su tipo, el número de valores no nulos, etc.

In [23]:
tabla.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14999 entries, 0 to 14998
Data columns (total 10 columns):
nivel_de_satisfaccion    14999 non-null float64
ultima_encuesta          14999 non-null float64
numero_de_proyectos      14998 non-null float64
media_horas_mes          14999 non-null int64
horas_en_la_empresa      14999 non-null int64
accidente_de_trabajo     14999 non-null int64
deja_la_empresa          14998 non-null float64
promociona               14999 non-null int64
dep                      14998 non-null object
salario                  14997 non-null object
dtypes: float64(4), int64(4), object(2)
memory usage: 1.1+ MB

In [24]:
tabla.describe()

,nivel_de_satisfaccion,ultima_encuesta,numero_de_proyectos,media_horas_mes,horas_en_la_empresa,accidente_de_trabajo,deja_la_empresa,promociona
count,14999.000000,14999.000000,14998.000000,14999.000000,14999.000000,14999.000000,14998.000000,14999.000000
mean,0.612834,0.716102,3.803174,201.050337,3.498233,0.144610,0.238032,0.021268
std,0.248631,0.171169,1.232546,49.943099,1.460136,0.351719,0.425893,0.144281
min,0.090000,0.360000,2.000000,96.000000,2.000000,0.000000,0.000000,0.000000
25%,0.440000,0.560000,3.000000,156.000000,3.000000,0.000000,0.000000,0.000000
50%,0.640000,0.720000,4.000000,200.000000,3.000000,0.000000,0.000000,0.000000
75%,0.820000,0.870000,5.000000,245.000000,4.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,7.000000,310.000000,10.000000,1.000000,1.000000,1.000000

__Ejemplo 2:__

Si no nos interesan todas las columnas, podemos indicar mediante una lista las columnas en las que estamos interesados.

In [15]:
columnas_carga = ['nivel_de_satisfaccion', 'numero_de_proyectos', 'dep', 'salario' ]
tabla = pd.read_csv('./datos/HR_comma.csv',
                     usecols = columnas_carga )

tabla.head(6)    # muestro solo las 6 primeras entradas

   nivel_de_satisfaccion  numero_de_proyectos    dep salario
0                   0.38                  2.0  sales     low
1                   0.80                  5.0  sales  medium
2                   0.11                  7.0    NaN  medium
3                   0.72                  5.0  sales     low
4                   0.37                  NaN  sales     low
5                   0.41                  2.0  sales     low

__Ejemplo 3:__

También nos puede interesar que alguna de las columnas sea el índice de la tabla. Por ejemplo, la columna de departamento.

In [16]:
columnas_carga = ['nivel_de_satisfaccion', 'numero_de_proyectos', 'dep', 'salario' ]
tabla = pd.read_csv('./datos/HR_comma.csv',
                     usecols = columnas_carga, 
                     index_col = [2])

tabla.tail(15)    # muestro solo las 15 últimas filas

           nivel_de_satisfaccion  numero_de_proyectos salario
dep
technical                   0.40                  2.0  medium
technical                   0.91                  5.0  medium
technical                   0.85                  4.0     low
technical                   0.90                  5.0     low
technical                   0.46                  2.0     low
technical                   0.43                  2.0     low
support                     0.89                  5.0     low
support                     0.09                  6.0     low
support                     0.40                  2.0     low
support                     0.76                  6.0     low
support                     0.40                  2.0     low
support                     0.37                  2.0     low
support                     0.37                  2.0     low
support                     0.11                  6.0     low
support                     0.37                  2.0     low

__Ejemplo 4:__

Movilens Dataset recoge datos películas, valoraciones y etiquetas. La información se distribuye en 3 tablas.

- ratings.dat (252 MB)) - El fichero recoge 10.000.054  valoraciones  de los usuarios
- [tags.dat](./datos/ml-10M/movies.dat) (3.5 MB) - Contiene 95.580 etiquetas 
- movies.dat (510 KB) - Datos de 10.681 películas

Toda esta información ha sido recogida por el sistema de recomendación online MovieLens y se utiliza con mucha frecuencia en los sistemas de recomendación que aplican algoritmos de aprendizaje.

La url para descargar los datos:     http://grouplens.org/datasets/movielens/

In [17]:
ruta_ratings = './datos/ml-10M/ratings.dat'
ruta_tags = './datos/ml-10M/tags.dat'

Tenemos la posibilidad de cargar solo algunas filas, para ver el aspecto de los datos.

In [18]:
# Parseo de fechas 
from datetime import datetime
dateparse = lambda x: datetime.fromtimestamp(float(x))

df_ratings = pd.read_csv(ruta_ratings, sep = '::', header = None,
                         names = ['UserID', 'MovieID', 'Starts', 'Date'],
                         engine ='python',
                  #      nrows = 3000,
                         parse_dates=[3], date_parser=dateparse)

In [19]:
df_ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000054 entries, 0 to 10000053
Data columns (total 4 columns):
UserID     int64
MovieID    int64
Starts     float64
Date       datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(2)
memory usage: 305.2 MB

In [20]:
df_ratings.head()

   UserID  MovieID  Starts                Date
0       1      122     5.0 1996-08-02 13:24:06
1       1      185     5.0 1996-08-02 12:58:45
2       1      231     5.0 1996-08-02 12:56:32
3       1      292     5.0 1996-08-02 12:57:01
4       1      316     5.0 1996-08-02 12:56:32

__Ejemplo:__

In [21]:
# Parseo de fechas 
from datetime import datetime
dateparse = lambda x: datetime.fromtimestamp(float(x))

df_ratings_2 = pd.read_csv(ruta_ratings, sep = '::', header = None,
                         names = ['id_usuario', 'id_peli', 'puntuacion', 'Fecha'],
                         engine ='python',
                         nrows = 3000,
                         index_col =['id_usuario', 'id_peli'],
                         parse_dates=[3], date_parser=dateparse)

In [22]:
df_ratings_2

                    puntuacion               Fecha
id_usuario id_peli
1          122             5.0 1996-08-02 13:24:06
           185             5.0 1996-08-02 12:58:45
           231             5.0 1996-08-02 12:56:32
           292             5.0 1996-08-02 12:57:01
           316             5.0 1996-08-02 12:56:32
           329             5.0 1996-08-02 12:56:32
           355             5.0 1996-08-02 13:14:34
           356             5.0 1996-08-02 13:00:53
           362             5.0 1996-08-02 13:21:25
           364             5.0 1996-08-02 13:01:47
           370             5.0 1996-08-02 13:16:36
           377             5.0 1996-08-02 13:03:54
           420             5.0 1996-08-02 13:03:54
           466             5.0 1996-08-02 13:17:59
           480             5.0 1996-08-02 13:00:53
           520             5.0 1996-08-02 13:17:59
           539             5.0 1996-08-02 13:07:48
           586             5.0 1996-08-02 13:07:48
           588             5.0 1996-08-02 12:55:39
           589             5.0 1996-08-02 13:02:58
           594             5.0 1996-08-02 13:17:59
           616             5.0 1996-08-02 13:22:21
2          110             5.0 1997-07-07 05:22:57
           151             3.0 1997-07-07 05:34:10
           260             5.0 1997-07-07 05:02:42
           376             3.0 1997-07-07 05:25:20
           539             3.0 1997-07-07 05:31:02
           590             5.0 1997-07-07 05:20:08
           648             2.0 1997-07-07 05:04:59
           719             3.0 1997-07-07 05:29:51
...                        ...                 ...
34         474             4.0 2001-02-18 16:38:43
           479             3.0 2001-02-10 18:29:36
           480             4.0 2001-02-10 18:06:33
           481             2.0 2001-02-10 18:09:35
           485             2.0 2001-02-18 17:15:52
           491             4.0 2001-02-10 18:09:11
           493             2.0 2001-02-07 16:55:28
           500             3.0 2001-02-10 18:11:41
           502             2.0 2001-02-18 17:16:21
           504             2.0 2001-02-18 17:08:42
           505             2.0 2001-02-18 17:15:52
           508             3.0 2001-02-10 18:03:57
           509             2.0 2001-02-18 16:56:38
           511             3.0 2001-02-18 16:51:18
           516             3.0 2001-02-18 16:59:19
           517             2.0 2001-02-18 17:02:13
           520             1.0 2001-02-18 17:01:38
           524             3.0 2001-02-10 18:05:53
           527             5.0 2001-02-07 16:43:01
           528             1.0 2001-02-18 17:10:55
           529             3.0 2001-02-18 16:39:21
           531             3.0 2001-02-18 16:35:32
           539             3.0 2001-02-10 18:12:24
           540             3.0 2001-02-18 17:19:57
           541             3.0 2001-02-07 16:39:55
           542             4.0 2001-02-10 18:32:25
           546             1.0 2001-02-18 17:21:41
           547             3.0 2001-02-18 17:08:02
           551             3.0 2001-02-07 16:57:16
           552             4.0 2001-02-10 18:14:39

[3000 rows x 2 columns]

##  Exportando DataFrames

Para exportar un DataFrame a un fichero con extensión __csv__  utilizamos la función [__to_csv__](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.to_csv.html). Para exportar un DataFrame a un fichero con extensión __xlsx__ utilizamos la función __to_excel__:
* Ambas funciones admiten una gran cantidad de parámetros. Opcionalmente podemos generar un fichero csv/xlsx con cabeceras o sin ellas, con índices o sin ellos.

In [23]:
df_ratings_2.to_excel('./datos/resultado.xlsx',
                      header = True, index = False)

##  Operaciones del álgebra relacional. Función Merge

Es la operación __join__ al estilo del álgebra relacional. Permite combinar filas  de dos o más tablas (DataFrames) basándose en una o varias claves. 
Hay tres tipos de __merge__: 
    * interno (inner), 
    * externo (outer), 
    * cruzado(left, right)

In [24]:
d1 ={'País' : ['Estonia','Estonia', 'Ireland', 'Spain'],
     'Cantidad' : [  8.4,  6.7 ,    227,  58.9 ] , 
     'Producto' : ['A', 'B', 'A', 'Z'] }
     
d2 ={'Producto' : ['A', 'B', 'C'],
     'Descripción' : [  'Leche',  'Cereales',   'Aceite' ] }

In [25]:
t1 = pd.DataFrame( d1 )
t1

      País  Cantidad Producto
0  Estonia       8.4        A
1  Estonia       6.7        B
2  Ireland     227.0        A
3    Spain      58.9        Z

In [26]:
t2 = pd.DataFrame( d2 )
t2

  Producto Descripción
0        A       Leche
1        B    Cereales
2        C      Aceite

La función `pd.merge` permite combinar los dataframes `t1` y `t2`  usando como campos de combinación la columna `Producto`. Veamos ejemplos con distintas opciones:

In [27]:
result = pd.merge(t1, t2, on = ['Producto'])               
result

      País  Cantidad Producto Descripción
0  Estonia       8.4        A       Leche
1  Ireland     227.0        A       Leche
2  Estonia       6.7        B    Cereales

La opción `left` combina dos dataframes devolviendo aquellas filas que tienen valores idénticos en las columnas que se comparan para unir ambas tablas, y todas las filas del dataframe de la izquierda, tengan o no correspondencia con las filas del dataframe de la derecha. Las que no tengan correspondencia se rellenan con `NaN`.

In [28]:
result = pd.merge(t1, t2, on=['Producto'], how='left')
result

      País  Cantidad Producto Descripción
0  Estonia       8.4        A       Leche
1  Estonia       6.7        B    Cereales
2  Ireland     227.0        A       Leche
3    Spain      58.9        Z         NaN

La opción `outer` combina los dos dataframes devolviendo la unión de las filas devueltas por la opción `left` y `right`:

In [29]:
result = pd.merge(t1, t2,  how='outer', on=['Producto']).pais  == 'es'
result

AttributeError: 'DataFrame' object has no attribute 'pais'

In [ ]:
pd.merge?

## Acceso a los datos (filas y columnas)

Para acceder a las columnas, podemos usar la notación '.' (como si fuera un atributo) o con la notación empleada en los diccionarios, utilizando como clave el nombre de la columna.

In [ ]:
tabla = pd.read_csv('./datos/HR_comma.csv')
tabla.head()

In [ ]:
tabla.salario

In [ ]:
tabla[ 'salario' ]    #  Acceso utilizando notación corchetes

En Pandas se utiliza la función __loc__ para realizar un accceso a los datos más eficiente que las notaciones anteriores.

```
loc[filas, columnas]

```

In [ ]:
resultado = tabla.loc[:, ['nivel_de_satisfaccion','salario']]  #acceso más eficiente
resultado.head()

Si queremos saber el número de empleados para cada uno de los valores de salario, podemos obtenerlo mediante la función __value_counts()__.

In [ ]:
tabla.salario.value_counts()

In [ ]:
# Visualizar diagrama de barras
import matplotlib as mpl
import matplotlib.pyplot as plt

%matplotlib inline
serie = tabla.salario.value_counts()

In [ ]:
serie.plot(kind='bar');

##  Actualización de datos de un DataFrame

###  Modificando valores del DataFrame

Para actualizar los datos de una columna podemos utilizar un valor concreto:

In [ ]:
# Si no existe la variable `sexo` la crea
# Si exite la modifica
tabla['sexo'] = 'FFFFnnnnn'
tabla.head()

Modifica una columna existente:

In [ ]:
tabla['numero_de_proyectos'] = tabla['numero_de_proyectos'] + 1
tabla.head()

> Las operaciones sobre DataFrames son vectorizadas, al igual que ocurría con las operaciones sobre los objetos ndarray de NumPy.

__Ejemplo__:

Podemos crear una nueva columna en el DataFrame, cuyos valores se obtengan a partir del `salario`.

In [ ]:
def salario2euros(val):
    if val == 'medium':
        return 200
    elif val == 'low':
        return 100
    elif val == 'high':
        return 300
    else:
        pass

tabla['salario €'] = tabla.salario.apply(salario2euros)
tabla.head()

###  Borrando columnas en un DataFrame (__pop__ y __drop__)

La función __pop__ borra la columna especificada del DataFrame y guarda la columna borrada en un objeto de tipo __Serie__.
- Modifica el DataFrame

La función __drop__ permite borrar tanto filas como columnas.
- No modifica el DataFrame. Devuelve el resultado en un nuevo DataFrame.
- No permite acceder a los elementos borrados.

In [ ]:
columna_sexo = tabla.pop('sexo')
columna_sexo

In [ ]:
tabla.head()     # ha desaparecido la columna 'sexo'

También es posible utilizar la función __drop__ para eliminar tanto filas como columnas.

In [ ]:
# borramos las filas correspondientes a las etiquetas 0 y 3
nuevo_df = tabla.drop([0,3])
nuevo_df.head()

In [ ]:
tabla.head()     # ojo, después de borrar, la tabla original no se modofica

Para borrar columnas, es necesario indicar en la llamada a la función que queremos actura sobre el eje 1 ( axis = 1 ),  que se corresponde con las columnas.

In [ ]:
# borramos dos columnas
otro = tabla.drop(['nivel_de_satisfaccion', 'ultima_encuesta'], axis = 1)
otro.head()

###  Insertar datos en un DataFrame

Podemos utilizar la función __insert__ para insertar la columna `sexo` que hemos eliminado anteriormente en una determinada posición.

In [ ]:
# inserta la columna en la segunda posición 
tabla.insert(2, 'Sexo_empleado', columna_sexo)
tabla.head()

##  Tratamiento de valores nulos

El término valores perdidos (missing values) se refiere a los valores que no aparecen o que se encuentran marcados con un valor por defecto.
En pandas estos valores vienen marcados como NaN.

Una de las opciones para filtrar estos valores es la función __dropna__.

In [ ]:
tabla.head()

In [ ]:
tabla_sinNAN = tabla.dropna()
tabla_sinNAN.head()

In [ ]:
tabla.head()

En los casos en los no deseamos eliminar filas con valores NaN, podemos sustituir los valores NaN por un valor por defecto. Para ello usamos la función __fillna()__.
* Si queremos un valor por defecto para cada variable, usaremos un diccionario como parámetro de __fillna__.

In [ ]:
# Podemos ver las variables que tienen nulos
tabla.info()

In [ ]:
valores = {'numero_de_proyectos': 0, 'dep' : 'otros'}
tabla.fillna(valores).head()

In [ ]:
tabla.head()     # cuidado: fillna no modifica la tabla

##  Consultas

La sección de partes de un DataFrame se realiza mediante máscaras. Veamos algunos ejemplos:

* Selección de tuplas con nivel de satisfacción superior a 0.5

In [ ]:
mascara = tabla.nivel_de_satisfaccion  > 0.5
mascara.head()

In [ ]:
# selección de tuplas que cumplen la máscara
resultado = tabla[mascara]
resultado.head()

In [ ]:
len(resultado)   # número de tuplas devueltas

* Selección de tuplas con nivel de satisfacción superior a 0.5 del departamento `hr`

In [ ]:
mascara_sat = tabla.nivel_de_satisfaccion  > 0.5
mascara_hr  = tabla.dep == 'hr'
resultadoC2 = tabla[mascara_sat & mascara_hr]
resultadoC2.head()

In [ ]:
len(resultadoC2)

* Selección de tuplas con nivel de satisfacción superior a 0.5 del departamento `hr`. Mostrar los resultado ordenados por nivel de satisfacción

In [ ]:
resultadoC2.sort_values(by = 'nivel_de_satisfaccion')

##  Grupos y funciones de agrupación

Después de cargar los datos y procesarlos (limpiar y preparar) una de las tareas más habituales es agrupar los datos en base a alguna variable cualitativa, para posteriormente realizar alguna operación sobre cada uno de los grupos obtenidos.

Pandas proporciona la operación __groupby__ para este fin. La operación __groupby__ se define como la unión de tres procesos (dividir-aplicar-combinar los resultados).

__Ejemplo:__

El fichero [tips.csv](./datos/tips.csv) recoge los datos referentes a las reservas de un restaurante. Muestra los datos del precio de la factura, la propina, sexo de la persona que hizo la reserva, el día, el número de comensales, etc.

In [ ]:
tips = pd.read_csv('./datos/tips.csv',
                   skiprows = 1,
                   names = ['Importe_Factura', 'Propina', 'Sexo', 'Fumador', 'Dia',
                              'Tipo', 'Comensales']
                          )
tips.head()

Deseamos conocer la media del importe de factura dependiendo del sexo y de si el cliente en fumador o no.

In [ ]:
tips.groupby(['Sexo','Fumador']).Propina.agg?

In [ ]:
tips.groupby(['Sexo','Fumador']).Propina.agg

In [ ]:
tips_g = tips.groupby(['Sexo','Fumador']).Propina.agg([np.max, np.min])
tips_g

__Ejemplo:__
    
Agrupando con funciones:

In [ ]:
df_tags = pd.read_csv(ruta_tags, sep = '::', header = None,
                        engine ='python',
                        names = ['UserID','MovieID','Tag','Timestamp'], 
                        parse_dates=[3], date_parser=dateparse, 
                        index_col = [3])
df_tags.head()

In [ ]:
from datetime import datetime, date, time

def calcular_dia(f):
    return f.weekday()    # devuelve el día de la semana

# calculamos el número de tags realizados en cada día de la semana
# agrupar + aplicar + combinar
df_tags.groupby(calcular_dia).UserID.count()

##  Primeros estadísticos

La librería __Pandas__ ofrece una colección de operaciones estadísticas basadas en las mismas operaciones  de la librería Numpy. En el caso de pandas, todas ellas ignoran los valores NaN.

In [ ]:
tabla.mean()

In [ ]:
# número de empleados que han dejado la empresa
tabla['deja_la_empresa'].sum()

In [ ]:
tabla['nivel_de_satisfaccion'].std()

### Matriz de correlación

Cargamos de nuevo la tabla:

In [ ]:
tabla = pd.read_csv('./datos/HR_comma.csv')
tabla.head(3)    # muestro solo las 3 primeras entradas

In [ ]:
corrmat = tabla.corr()
corrmat

In [ ]:
import seaborn as sns

f, ax = plt.subplots(figsize=(4, 3))
# mapa de calor 
sns.heatmap(corrmat, vmax=.8, square=True);
ax.set_title('Correlación entre las variables')

Podemos visualizar la matriz de correlación por salarios. Para ello lo que hacemos es dividir los datos en tres partes:
* los datos de los empleados con salario `low`
* los datos de los empleados con salario `medium`
* los datos de los empleados con salario `high`

In [ ]:
# datos de los empleados con salario `low`
mascara_low = tabla['salario'] == 'low'
mascara_low
salario_low = tabla[mascara_low]
len(salario_low)

In [ ]:
# datos de los empleados con salario `medium`
mascara_medium = tabla['salario'] == 'medium'
mascara_medium
salario_medium = tabla[mascara_medium]
len(salario_medium)

In [ ]:
# datos de los empleados con salario `high`
mascara_high = tabla['salario'] == 'high'
mascara_high
salario_high = tabla[mascara_high]
len(salario_high)

In [ ]:
corrmat_low = salario_low.corr()
corrmat_medium = salario_medium.corr()
corrmat_high = salario_high.corr()

In [ ]:
# mapa de calor 
f, ax = plt.subplots(figsize=(7, 2.5))
ax = sns.heatmap(corrmat_low, vmax=.7, square=False, annot=True, fmt='.1f');
ax.set_title('Correlación - Empleados con salario "low"');

In [ ]:
# mapa de calor 
f, ax = plt.subplots(figsize=(7, 2.5))
ax = sns.heatmap(corrmat_high, vmax=.7, square=False, annot=True, fmt='.2f')
ax.set_title('Correlación - Empleados con salario "high"');

#  Maching Learning

__Scikit-learn__ es una librería que incluye la implementación de un gran número de algoritmos de apredizaje, siendo básica para trabajar con __ML__.

La podemos utilizar para realizar _clasificaciones_, _extraccion de características, _regresiones_, _agrupaciones_, _reducción de dimensiones_, _selección de modelos_ o _preprocesamiento_.

Esta librería también nos facilita las tareas de evaluación, diagnostico y validaciones cruzadas ya que nos proporciona varios métodos de fábrica para poder realizar estas tareas de forma muy simple.

¿Se puede predecir la característica `deja_la_empresa` a partir del resto de los datos?

`deja_la_empres` = 1

In [ ]:

from sklearn.preprocessing import LabelEncoder
#from   sklearn.model_selection import train_test_split       # sustituye a cross_validation
from sklearn.cross_validation import train_test_split         # desapare en la versión 0.20
# importando el modelo de regresión logística


from sklearn.calibration import CalibratedClassifierCV
from sklearn.feature_selection import SelectFromModel;

Lo primero que hacemos es convertir las variables categóricas en variables indicadoras. Lo hacemos mediante la función __get_dummies()__.

In [ ]:
tabla = pd.read_csv('./datos/HR_comma.csv')
tabla = tabla.dropna()                             # borramos las observaciones con NaN

# variables categóricas en variables indicadoras
tabla_copy = pd.get_dummies(tabla)                 # guardamos el resultado en una copia
tabla_copy.head()

In [ ]:
tabla_copy.info()      # No hay NaN en la tabla

A continuación, construimos la matriz de variables independientes `X` y la varaible dependiente `y`.

In [ ]:
# y = variable dependiente
y = tabla_copy.pop('deja_la_empresa')
# X = matriz de variables independientes
X = tabla_copy

In [ ]:
y.unique(), len(y)         # valores distintos de la variable y

In [ ]:
X.head()

In [ ]:
len(X)

Para aplicar el modelo de regresión logística, el tipo de los datos (y, X) ha de ser array de NumPy.

In [ ]:
type(y), type(X)

Nos quedamos con los valores de la Serie y del DataFrame

In [ ]:
y = y.values
X = X.values

In [ ]:
type(y), type(X)

Dividimos los datasets en entrenamiento y evaluación:

In [ ]:
# Xtrain con el 80% de los datos
# Xtest  con el 20 de los datos
Xtrain, Xtest, ytrain, ytest = train_test_split(X, y, test_size=0.20)
len(Xtest), len(Xtest)/len(X),len(Xtrain), len(Xtrain)/len(X)

##  Predicción con Arboles de decisión

In [ ]:
# Importando el arbol de decisión
from sklearn.tree import DecisionTreeClassifier

# Creando el modelo. Árboles con profundidad 3
modelo_ad = DecisionTreeClassifier(max_depth = 3 )     # Creando el modelo
# Ajustando el modelo
modelo_ad.fit(Xtrain, ytrain);

In [ ]:
# calculamos las bondad del ajuste para los datos de test y de entrenamiento
ajuste_test = modelo_ad.score(Xtest, ytest)      #coef de determinación o bondad del ajuste
print('Bondad del ajuste con Árbol de decisión: ', ajuste_test)

##  Predicción con Random Forest

Uno de los métodos más populares usados por los científicos de datos es el algoritmo __Random Forest__, uno de los mejores algoritmos de clasificación, capaz de organizar grandes cantidades de datos con exactitud.

In [ ]:
# Importando el random forest
from sklearn.ensemble import RandomForestClassifier

# Creando el modelo
modelo_rf = RandomForestClassifier()
# Ajustando el modelo
modelo_rf.fit(Xtrain, ytrain)

# Realizando las predicciones
y_predic_test = modelo_rf.predict(Xtest)

In [ ]:
# calculamos las bondad del ajuste para los datos de test y de entrenamiento
ajuste_test = modelo_rf.score(Xtest, ytest)      #coef de determinación o bondad del ajuste
print('Bondad del ajuste con Random Forest: ', ajuste_test)

Parece que el modelo Random forest ofrece mejores resultados. Además podemos conocer las características que más influyen en el modelo. 
En nuestro ejemplo tenemos 20 características:

In [ ]:
tabla_copy.shape

In [ ]:
# nombres de las características
caracteristicas = tabla_copy.columns.values      
caracteristicas

In [ ]:
# estimación de la importancia de las características
# el valor más alto corresponde a la característica más importante
estimacion = modelo_rf.feature_importances_
estimacion

Emparejamos cada característica con su estimación:

In [ ]:
estimaciones = dict(zip(caracteristicas, estimacion))
estimaciones
valores = pd.DataFrame(estimaciones, index = ['valor'])
valores = valores.T
valores

In [ ]:
plt.figure(figsize=(5, 3))
valores.plot(kind = 'bar',  
             width = 0.3  ,         #anchura de las barras
             align = 'center'
             )
plt.title('Estimación importancia - Random Forest')
plt.ylabel('Importancia estimada')
plt.xlabel('Características')
plt.legend(loc='best')
plt.tight_layout()

# References

* [Python Data Analysis Library](http://pandas.pydata.org/)
* [Python for Data Analysis](http://shop.oreilly.com/product/0636920023784.do)